{% extends 'base.html' %}
{% include 'head.html' %}
{% block content %}

<!DOCTYPE html>
<html>
  <body>
    <div class="testbox">
      <form action="/">
        <h1>Create your persistent identifier</h1>
        <!-- <h4>Do you have another identifier?<span>*</span></h4>
        <select>
          <option value=""></option>
          <option value="">DOI</option>
          <option value="2">Handle</option>
          <option value="3">xpto1</option>
          <option value="4">xpto2</option>
        </select> -->
        <h4>Name<span>*</span></h4>
        <input type="text" name="name" />
        <h4>Year<span>*</span></h4>
        <input type="text" name="year" />
        <h4>Publication Type<span>*</span></h4>
        <input type="text" name="publication_type"/>
        <h4>Autors</h4>
        <input type="text" name="authors"/>
        <h4>Advisor</h4>
        <input type="text" name="advisors"/>
        <h4>Keys Words</h4>
        <p class="small">Use commas to separate</small>
          <textarea rows="5"></textarea>
        <div class="btn-block">
          <button type="submit" href="/">Submmit</button>
        </div>
      </form>
    </div>
  </body>
</html>
{% endblock %}