{% extends 'base.html' %}
{% include 'head.html' %}
{% block content %}

<!DOCTYPE html>
<html>
    
<body>
    <div class="testbox">
        <form action="/">
        <div class="banner">
            <h1>Create your Persistent Identifier</h1>
        </div>
        <div class="item">
            <label for="name">Title<span>*</span></label>
            <input id="name" type="text" name="name" placeholder="Ex: Blockchain applied in nanosatellites" required/>
        </div>
        <!-- <div class="item">
            <label for="bdate">Date of Birth<span>*</span></label>
            <input id="bdate" type="date" name="bdate" required/>
            <i class="fas fa-calendar-alt"></i>
        </div> -->
        <div class="item">
            <div class="name-item">
            <div>
                <label for="year">Year<span>*</span></label>
                <input id="year" type="text" name="year"/>
            </div>
            <div>
                <label for="publication_type">Publication Type</label>
                <input id="publication_type" type="tel" name="publication_type" />
            </div>
            </div>
        </div>
        <div class="item">
            <div class="name-item">
            <div>
                <label for="authors">Authors</label>
                <input id="authors" type="text" name="authors" required/>
            </div>
            <div>
                <label for="advisor">Advisor</label>
                <input id="advisor" type="text" name="advisor" />
            </div>
            </div>
        </div>
        <div class="item">
            <label for="dataset">Upload DataSet<span></span></label>
            <input  id="dataset" type="file"/>
        </div>
        </form>
    </div>
    </body>
</html>
{% endblock %}